@import '@/assets/variables.scss';

.user{
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &-avatar{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: $colorAvatarBackground;
    min-width: 60px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;

    .no-avatar{
      font-size: 24px;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img{
      width: 100%;
      height: 100%;
    }
  }

  &-info{
    color: $colorAvatarText;
  }

  &-name{
    font-size: 20px;
    font-weight: 600;
  }

  &-email{
    font-size: 16px;
    font-weight: 400;
  }
}