@import '@/assets/variables.scss';

.newTopicModal {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $colorBgModal;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    .modalContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 600px;
        background: $backgroundColorSecondary;
        border-radius: 5px;
        padding: 30px 25px 60px;
    }
}
