@import '@/assets/variables.scss';

.canvasWindow{
  position: relative;
  width: 1200px;
  height: 400px;
  margin: 0 auto;
  top: 40px;
  background-color: #3E92B3;
}

.title{
  position: relative;
  top: 15px;
  font-weight: 600;
  font-size: 52px;
  color: white;
  text-align: center; 
}
