@import '@/assets/variables.scss';

body[data-theme='dark'] {
  .changeThemeButton {
    background: $colorBgButton__dark;

    .shuttle {
      left: 45px;
      background: $colorMain__dark;
    }
  }
}

.changeThemeButton {
  width: 75px;
  height: 35px;
  border-radius: 50px;
  background: $colorBgButton;
  position: relative;
  border: none;
  cursor: pointer;

  .shuttle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: $colorBgDark;
    @include transition;
  }
}
