@import '@/assets/tektur/font-tektur';
@import '@/assets/variables';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontFamily;
}

body{
  background-color: $backgroundColorMain;
}
