@import '@/assets/variables.scss';

.errorMessage {
  @include roundBordedWindow;
  padding: 30px;
  border: 1px solid white;
  width: 500px;
  color: $colorTextDark;
}

.errorMessageTitle {
  margin: 0 0 30px;
}

.errorMessageText {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin: 0 0 30px;
}
