@import '@/assets/variables.scss';

body[data-theme='dark'] {
  .userIcon {
    .content {
      .caption {
        color: $colorText__dark;
      }
    }
  }
}

.userIcon {
  .content {
    margin: 0;
    display: flex;
    align-items: center;

    .imgContainer {
      width: 60px;
      height: 60px;
      background: $colorBgThumbnailLite;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 10px 0 0;

      .initial {
        font-size: 24px;
        line-height: 27px;
        color: $colorBgThumbnail;
        display: inline-block;
        margin: 0 3px 0 0;
        font-weight: 600;

        &:last-child {
          margin: 0;
        }
      }

      .img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .caption {
      color: $colorText;
      @include transition;

      .name {
        font-size: 20px;
        line-height: 23px;
        margin: 0 0 3px;

        .nameItem {
          display: inline-block;
          margin: 0 5px 0 0;

          &:last-child {
            margin: 0;
          }
        }
      }

      .email {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }

  &.typeHeader {
  }

  &.typeGame {
    .content {
      flex-direction: column;
      justify-content: center;

      .imgContainer {
        margin: 0 0 15px;
      }

      .caption {
        .name {
          margin: 0;
        }
      }
    }
  }
}
