@import '@/assets/variables.scss';

.main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 60px 15px 15px;
    position: relative;

    .content {
        display: flex;
        flex-direction: column;
        max-width: 1300px;
        width: 100%;


        .h1 {
            text-align: left;
            color: $colorText;
            font-weight: 500;
            padding: 0 0 10px;
        }

        .btn-them-wrap {
            width: 180px;
            padding: 8px 10px;
            align-self: flex-end;
        }

        .message-list {
            display: flex;
            flex-direction: column;
            padding-bottom: 10px;

            .topic-row-wrapper {
                display: flex;
                padding: 10px 7px;
                border-top: 1px solid $colorBorder;

                &:last-child {
                    border-bottom: 1px solid $colorBorder;
                }

                .message-container {
                    display: flex;
                    flex-grow: 3;
                    flex-direction: column;
                    width: 100px;

                    .topic-author {
                        color: $colorText;
                        font-size: 14px;
                        display: block;
                        padding-bottom: 15px;
                        opacity: 80%;
                    }

                    .message {
                        text-align: start;
                        font-weight: 300;
                        color: $colorText;
                        padding-bottom: 7px;
                        overflow-wrap: anywhere;
                    }
                }

                .sceleton {
                    padding: 5px 25px 5px 5px;
                    max-height: 120px;
                }
            }
        }
    }

    .modalTitle {
        font-size: 24px;
        color: $colorTextDark;
        margin: 0 0 40px;
    }

    .topicName-wrapper {
        padding-bottom: 15px;
    }

    .button-wrap {
        display: flex;
        justify-content: space-around;
        padding-top: 30px;
    }
}
