@import '@/assets/variables.scss';

.main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 60px 15px 15px;
    position: relative;

    .content {
        display: flex;
        flex-direction: column;
        max-width: 1300px;
        width: 100%;


        .h1 {
            text-align: left;
            color: $colorText;
            font-weight: 500;
            padding: 0 0 10px;
        }

        .btn-them-wrap {
            width: 180px;
            padding: 8px 10px;
            align-self: flex-end;
        }

        .message-list {
            display: flex;
            flex-direction: column;
            padding-bottom: 10px;

            .topic-row-wrapper {
                display: flex;
                padding: 10px 7px;
                border-top: 1px solid $colorBorder;

                &:last-child {
                    border-bottom: 1px solid $colorBorder;
                }

                .message-container {
                    display: flex;
                    flex-grow: 3;
                    flex-direction: column;
                    width: 100px;

                    .topic-author {
                        color: $colorText;
                        font-size: 14px;
                        display: block;
                        padding-bottom: 15px;
                        opacity: 80%;
                    }

                    .message {
                        text-align: start;
                        font-weight: 300;
                        color: $colorText;
                        padding-bottom: 7px;
                        overflow-wrap: anywhere;
                    }
                }

                .sceleton {
                    padding: 5px 25px 5px 5px;
                    max-height: 120px;
                }
            }

            .like{
                &-wrap{
                    width: 100%;
                    position: relative;
                    top: -5px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                &-display{
                    position: relative;
                    height: 30px;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    margin-left: 20px;

                    &-item{
                        width: 65px;
                        margin-right: 10px;
                        border-radius: 20px;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        background-color: rgba(0, 0, 0, 0.3);
                    }

                    &-amount{
                        font-size: 17px;
                        color: white;
                    }

                    &-emoji{
                        position: relative;
                        cursor: pointer;
                        font-size: 20px;
                    }
                }

                &-choice{
                    position: relative;
                    height: 30px;
                    overflow: hidden;
                    margin-right: 20px;
                    width: 82px;
                    background-color: rgba(0, 0, 0, 0.2);
                    transition: width 0.3s linear;
                    border-radius: 4px;
                    display: flex;
                    justify-content: start;
                    align-items: center;

                    &-emoji{
                        margin-left: 10px;
                        cursor: pointer;
                        font-size: 25px;
                    }

                    &-text{
                        position: absolute;
                        top: 0;
                        right: 0;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 82px;
                        height: 30px;
                        display: flex;
                        border-radius: 4px;
                        margin-left: auto;
                        background-color: rgb(206, 222, 242);
                        transition: all 0.3s linear;

                        &:hover{
                            transition: all 0.3s linear;
                            background-color: aqua;
                        }
                    }

                    &:hover{
                        transition: width 0.3s linear;
                        width: 300px;
                    }
                }
            }
        }
    }

    .modalTitle {
        font-size: 24px;
        color: $colorTextDark;
        margin: 0 0 40px;
    }

    .topicName-wrapper {
        padding-bottom: 15px;
    }

    .button-wrap {
        display: flex;
        justify-content: space-around;
        padding-top: 30px;
    }
}
