$fontFamily: Tektur;
$backgroundColorMain: #3e92b3;
$backgroundColorSecondary: #7ecbd5;
$colorMain: #f0efea;
$colorYellow: #f8cd6b;
$colorBlue: #265b8f;
$colorRed: #c1564b;
$colorDark: #3f4151;
$colorLightBlue: #e4ebf0;

@mixin transition {
  transition: all 0.2s ease-in-out;
}
