$fontFamily: Tektur;
$backgroundColorMain: #3e92b3;
$backgroundColorSecondary: #7ecbd5;
$backgroundColorThird: #265b8f;
$colorBgModal: rgba(26, 26, 26, 0.6);
$colorMain: #f0efea;
$colorBorder: #f0efea;
$colorText: #f0efea;
$colorTextSecondary: #f8cd6b;
$colorTextDark: #3f4151;
$colorBgDark: #3f4151;
$colorBgButton: #f8cd6b;
$colorAccent: #f8cd6b;
$colorAlert: #c1564b;
$colorBgThumbnail: #3f4151;
$colorBgThumbnailLite: #e4ebf0;
$colorAvatarBackground: #e4ebf0;
$colorAvatarText: #ffffff;

@mixin transition {
  transition: all 0.2s ease-in-out;
}

@mixin roundBordedWindow {
  background: $backgroundColorSecondary;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
