@use '@/assets/variables' as mixin;

.main {
    flex-grow: 1;
    display: flex;
    justify-content: center;

    .h1 {
        margin: 100px auto 70px;
        text-align: center;
        color: mixin.$colorMain;
        font-weight: 500;
        font-size: 64px;
    }
    .wrapper-links{
        text-align: right;
        color: mixin.$colorMain;
    .link {
        color: mixin.$colorMain;
        margin: 0 5px;;    }
    }

    .table-board{
        margin: 10px auto;
        border-collapse: collapse;
        color: mixin.$colorMain;
        text-align: center;
        .td {
            padding: 10px;
            
        }
        .tr {
            border-bottom: 1px solid mixin.$colorMain;
        }
    }
}
