@import '@/assets/variables.scss';

body[data-theme='dark'] {
  .header {
    background-color: $backgroundColorThird__dark;

    .navigation {
      .links {
        a,
        a:visited {
          color: $colorText__dark;
        }

        a.active,
        a:hover,
        a:active {
          color: $colorTextSecondary__dark;
        }
      }
    }
  }
}

.header {
  display: flex;
  background-color: $backgroundColorThird;
  width: 100%;
  height: 100px;
  align-items: center;
  padding: 0 15px;
  @include transition;

  .logo {
    display: flex;
    color: $colorText;

    img {
      height: 73px;
    }
  }

  .navigation {
    display: flex;
    flex-grow: 1;
    justify-content: end;
    align-items: center;

    .links {
      display: flex;
      gap: 25px;

      a,
      a:visited {
        display: flex;
        color: $colorText;
        font-size: 20px;
        font-weight: 600;
        @include transition;
      }

      a.active,
      a:hover,
      a:active {
        color: $colorTextSecondary;
        text-decoration: underline;
      }
    }

    .user {
      margin: 0px 50px 0 36px;
    }
  }

  .themeButtonContainer {
    margin: 0 50px 0 0;
  }
}
