@import '@/assets/variables.scss';

.header{
  display: flex;
  background-color: #265B8F;
  width: 100%;
  height: 100px;
  align-items: center;
  padding: 0 15px;

  .logo{
    display: flex;
   color: $colorText;

    img{
      height: 73px;
    }
  }

  .navigation{
    display: flex;
    flex-grow: 1;
    justify-content: end;
    align-items: center;


    .links{
      display: flex;
      gap: 25px;

      a, a:visited{
        display: flex;
       color: $colorText;
        font-size: 20px;
        font-weight: 600;
      }

      a.active, a:hover, a:active{
       color: $colorTextSecondary;
        text-decoration: underline;
      }
    }

    //temporary
    .user{
      border: 1px solid #E4EBF0;
      margin: 0px 50px 0 36px;
      width: 200px;
      height: 73px;
    }
  }
}
