@import '@/assets/variables.scss';

.header{
  display: flex;
  background-color: #265B8F;
  width: 100%;
  height: 100px;
  align-items: center;
  padding: 0 15px;

  .logo{
    display: flex;
    color: $colorMain;
  }

  .navigation{
    display: flex;
    flex-grow: 1;
    justify-content: end;
    align-items: center;
  }
}