@import '@/assets/variables.scss';

@mixin buttonOutlined {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid $colorBorder;
  color: $colorText;
  transition: color 0.3s ease;
}

@mixin buttonOutlinedHover {
  border-color: darken($colorBorder, 10%);
  color: darken($colorBorder, 10%);
}

.normal,
.outlined {
  cursor: pointer;
}

.normal {
  border: none;
  background-color: $colorBgButton;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: lighten($colorBgButton, 10%);
  }
}

.outlined {
  @include buttonOutlined;

  &:hover {
    @include buttonOutlinedHover;
  }
}

.outlinedSmall {
  @include buttonOutlined;

  padding: 0;
  height: 22px;

  &:hover {
    @include buttonOutlinedHover;
  }
}

.small {
  font-size: 14px !important;
  padding: 4px 12px;
}

.medium {
  font-size: 20px !important;
  padding: 8px 38px;
  font-weight: 500;
}

.large {
  font-size: 30px !important;
  padding: 12px 86px;
  font-weight: 600;
}
