@import '@/assets/variables.scss';

.normal, .outlined{
  cursor: pointer;
}

.normal {
  border: none;
  background-color: $colorYellow;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color .3s ease;

  &:hover{
    background-color: lighten($colorYellow, 10%);
  }
}

.outlined {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid $colorMain;
  color: $colorMain;
  transition: color .3s ease;

  &:hover{
    border-color: darken($colorMain, 10%);
    color: darken($colorMain, 10%);
  }
}

.small{
  font-size: 14px !important;
  padding: 4px 12px;
}

.medium{
  font-size: 20px !important;
  padding: 8px 38px;
  font-weight: 500;
}

.large{
  font-size: 30px !important;
  padding: 12px 86px;
  font-weight: 600;
}
