@import '@/assets/variables.scss';

button{
  cursor: pointer;
}

button.normal {
  border: none;
  background-color: $colorYellow;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color .3s ease;

  &:hover{
    background-color: lighten($colorYellow, 10%);
  }
}

button.outlined {
  background-color: transparent;
  border: 1px solid $colorMain;
  color: $colorMain;
  transition: color .3s ease;

  &:hover{
    border-color: darken($colorMain, 10%);
    color: darken($colorMain, 10%);
  }
}

.small{
  font-size: 14px;
  padding: 4px 12px;
}

.medium{
  font-size: 20px;
  padding: 8px 38px;
}

.large{
  font-size: 30px;
  padding: 12px 86px;
}